.botao{
text-align: center;

}
/* Tela de lista de categorias */
.bootstrap-select:not([class=col-]):not([class=form-control]):not(.input-group-btn) {
    width: 100%;
    }
 .table-dark{
        background-color: white;
        color: black;
    }
 .fa{
     font-size: 1.65em;
 }   

 .table.table-bordered thead tr th{
     font-size: 1em;
 }

